---
layout: base
description: Template for homepage.
remark: See also page.layout == 'home' in head.html and header.html.
---


<div class="row">
      <div class="col-md-10 col-lg-8 order-lg-first mx-auto">

        {{ content }}
        {% for item in site.posts limit:site.posts_on_home %}
        {% include card.html %}
        {% endfor %}
      
      </div>

      <div class="col-md-10 col-lg-3 mx-auto">
      </div>
    

      <!--
      {% if two_col %}
        <div class="col-lg-4">
          <a class="twitter-timeline" data-height="500" data-link-color="{{ site.colors.links }}" href="https://twitter.com/{{ site.social.twitter }}?ref_src=twsrc%5Etfw">
            Tweets by {{ site.social.twitter }}
          </a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      {% endif %}
      -->
    
</div>